<html>
  <body>
    <h2>Workspace Invitation</h2>
    <p>Congratulation!, You have been invited to join workspace:</p>
    <h4><b><%= workspaceName %></b></h4>
    <p>Click the following <b><a href="<%- link %>">Link</a></b> to <b>to show invited workspace</b></p>
  </body>
</html>
