<html>
  <body>
    <h5>Forgot Password</h5>
    <p>The following is your link to set your new password that will be expire in 10 minutes</p>
    <p>Click the following <b><a href="<%- link %>">Link</a></b> to <b>set your new password</b></p>
    <p>If that does not work, you can copy the following link:</p>
    <p><a href="<%- link %>"><%- link %></a></p>
  </body>
</html>
